@import url("https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900");
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Poppins", sans-serif;
}

body {
	margin: 0;
	overflow: hidden;
    background: #710106;
    
}

canvas{
    position:absolute;
    left:0;
    top:0;
    z-index:-1;
}

.responsive {
	width: 15%;
	max-width: 100px;
}





.content {
	position: fixed;
    top: 50%;
    left: 50%;
    
}

.content h2 {
	color: #fff;
	font-size: 9vw;
	position: absolute;
	transform: translate(-50%, -50%);
    -webkit-text-stroke: 0.4vw #290000;
}

.content h2:nth-child(1) {
	color: #710106;
	-webkit-text-stroke: 0.4vw #290000;
    
}

.content h2:nth-child(2) {
	color: #C0B79C;
	animation: animate 4s ease-in-out infinite;
    
}

@keyframes animate {
	0%,
	100% {
		clip-path: polygon(
			0% 45%,
			16% 44%,
			33% 50%,
			54% 60%,
			70% 61%,
			84% 59%,
			100% 52%,
			100% 100%,
			0% 100%
		);
	}

	50% {
		clip-path: polygon(
			0% 60%,
			15% 65%,
			34% 66%,
			51% 62%,
			67% 50%,
			84% 45%,
			100% 46%,
			100% 100%,
			0% 100%
		);
	}
}
